@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  min-height: 100vh; /* Garante que o corpo ocupe pelo menos a altura da viewport */
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 55px;
}

.container {
  display: flex;
  width: 80%;
  height: 100%;
  margin: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header {
  height: var(--tamanho-header);
  background-color: rgba(255, 255, 255, 0); /* Branco transparente */
  transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Certifique-se de que o header esteja acima de outros elementos */
  transition: background-color 0.3s ease, top 0.5s ease; /* Transição suave da cor de fundo e do movimento */
}

.header.scroll-down {
  background-color: rgba(0, 0, 0, 0.8); /* Adiciona um fundo com transparência quando o usuário rolar para baixo */
  transition: top 0.3s ease; /* Transição suave do movimento */

}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
}

.header a {
  text-decoration: none;
  color: #e3b062;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}

.titulo {
  font-family: 'Benton Sans', sans-serif;
  font-weight: 3000;
  font-size: 40px;
  margin: 0; /* Remova a margem padrão do p */
  padding: 0px 0;
  margin-top: 10px; /* Ajuste o espaço entre o logotipo e a frase */
}

.logoHeader{
  width: 90px;
  height: 70px;
  margin-right: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: calc(var(--tamanho-banner) + var(--tamanho-header)); /* Ajusta a altura do banner para incluir a altura do header */
  background-image: url('./img/1303125.jpg');
  background-size: cover;
}

.banner .container {
  align-items: center;
  height: 100%;
}


.frase-banner {
  font-family: 'Benton Sans', sans-serif; /* Adicione a fonte utilizada no site de exemplo */
  font-weight: 1000; /* Ajuste o peso da fonte conforme necessário */
  font-size: 35px; /* Ajuste o tamanho da fonte conforme necessário */
  color: #ffffff; /* Ajuste a cor do texto para corresponder ao site de exemplo */
  margin: 0; /* Remova a margem padrão */
  padding: 20px 0px ; /* Adicione algum espaçamento interno para melhorar a aparência */
  text-align: left; /* Alinhe o texto à esquerda */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5); /* Sombreamento sutil */
}

/* MISSÃO VISÃO VALORES */

#sobre-nos {
  background-color: white;
  padding: 50px 0;
}

.titulo-sobreNos {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 2.5rem;
}

#sobre-nos .container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 0 6rem;
  gap: 6rem;
}

#sobre-nos .container .card {
  width: 40%;
  margin-bottom: 20px;
  height: 450px;
  background-color: #fff;
  box-shadow: 0px 0px 19px 7px rgba(0,0,0,0.75);
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  text-align: center;
}

.card-imagem{
  width: 80%;
  height: 60%;
}

#sobre-nos .container .nossos-valores{
  text-align: start;
  width: 400px;
}

#sobre-nos .container h2 {
  text-align: center;
  font-size: 24px;
  color: #000;
  margin-bottom: 30px;
}

#sobre-nos .container h3 {
  color: #000;
  margin-bottom: 20px;
}

#sobre-nos .container p {
  color: #001d3d;
  line-height: 1.6;
  margin-bottom: 20px;
}

#sobre-nos .container ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

#sobre-nos .container li {
  color: #001d3d;
  line-height: 1.6;
}

#sobre-nos .container .form-group {
  margin-bottom: 20px;
  width: 100%;
}

#sobre-nos .container label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

#sobre-nos .container input[type="text"],
#sobre-nos .container input[type="email"],
#sobre-nos .container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 100%;
}

#sobre-nos .container button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#sobre-nos .container button[type="submit"]:hover {
  background-color: #0056b3;
}

/* FOOTER */

.footer {
  background-color:rgba(12, 12, 10, 0.26);
  color: #fff;
  display: flex;
  font-size: 15px;
  margin-top: auto; /* Empurra o footer para o final da página */
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #fdfbdd7a;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid black;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid black;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border: 2px solid black;
  background-color: #e3b062;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll;
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0% {
    transform: rotate(25deg)
  }

  25% {
    transform: rotate(-25deg)
  }

  50% {
    transform: rotate(25deg)
  }

  75% {
    transform: rotate(-25deg)
  }

  100% {
    transform: rotate(25deg)
  }
}


#seila {
  position: absolute;
  top: 50%; /* Colocando o topo do #seila na metade da altura da .janela */
  left: 50%; /* Colocando a esquerda do #seila na metade da largura da .janela */
  transform: translate(-50%, -50%); /* Movendo o #seila para trás, metade de sua própria largura e altura */
}
#seila .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0 6rem;
    gap: 2rem;
}

#seila .container .card {
  flex: 0 0 calc(33.33% - 20px); /* Define a largura dos cartões para ocupar 1/3 do espaço, subtraindo o espaço entre eles */
  margin-bottom: 20px;
  height: 200px;
  background-color: #fff;
  box-shadow: 0px 0px 19px 7px rgba(0,0,0,0.75);
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  text-align: center;
}

.card-link {
  text-decoration: none; /* Remover decoração de link */
}

.cardd {
  /* Estilos padrão do card */
  width: 268px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s; /* Adiciona transição suave para transformação e sombra */
}

.cardd:hover {
  transform: scale(1.2); /* Aumenta o tamanho do card em 10% */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Aumenta a sombra quando o mouse está sobre o card */
}

.card1 {
  background-image: url(../css/img/5fe9bb06f7769a25b5de016780483721.jpg);
  background-size: cover;
}

.card2 {
  background-image: url(../css/img/0fa75b8ca4d1589825c39d6822f87aef.jpg);
  background-size: cover;
}

.card3 {
  background-image: url(../css/img/1200712ebe59c8e4e7bccee83d411c81.jpg);
  background-size: cover;
}

