@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  min-height: 100vh; /* Garante que o corpo ocupe pelo menos a altura da viewport */
  background-image: url(./img/1303125.jpg); 
  background-size: cover;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 55px;
}

.container {
  display: flex;
  width: 80%;
  height: 100%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  background-color: rgba(255, 255, 255, 0); /* Branco transparente */
  transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Certifique-se de que o header esteja acima de outros elementos */
  transition: background-color 0.3s ease, top 0.5s ease; /* Transição suave da cor de fundo e do movimento */
}

.header.scroll-down {
  background-color: rgba(0, 0, 0, 0.8); /* Adiciona um fundo com transparência quando o usuário rolar para baixo */
  transition: top 0.3s ease; /* Transição suave do movimento */
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
}

.header a {
  text-decoration: none;
  color: #e3b062;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}

.titulo {
  font-family: 'Benton Sans', sans-serif;
  font-weight: 3000;
  font-size: 40px;
  margin: 0; /* Remova a margem padrão do p */
  padding: 0px 0;
  margin-top: 10px; /* Ajuste o espaço entre o logotipo e a frase */
}

.logoHeader{
  width: 90px;
  height: 70px;
  margin-right: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: calc(var(--tamanho-banner) + var(--tamanho-header)); /* Ajusta a altura do banner para incluir a altura do header */
  background-image: url('./img/1303125.jpg');
  background-size: cover;
}

.banner .container {
  align-items: center;
  height: 100%;
}


.frase-banner {
  font-family: 'Benton Sans', sans-serif; /* Adicione a fonte utilizada no site de exemplo */
  font-weight: 1000; /* Ajuste o peso da fonte conforme necessário */
  font-size: 35px; /* Ajuste o tamanho da fonte conforme necessário */
  color: #ffffff; /* Ajuste a cor do texto para corresponder ao site de exemplo */
  margin: 0; /* Remova a margem padrão */
  padding: 20px 0px ; /* Adicione algum espaçamento interno para melhorar a aparência */
  text-align: left; /* Alinhe o texto à esquerda */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5); /* Sombreamento sutil */
}

.ban {
  text-align: center;
  padding: 20px;
}

.bann {
  text-align: center;
  padding: 20px;
}


.ban h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.bann h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.ban-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 10vh;
}

.imgg{
  height: 600px; 
  width: 400px; 
  margin: 70px;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 10px;
}

.imgg:hover{
  transform: scale(1.2); /* Aumenta o tamanho do card em 10% */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Aumenta a sombra quando o mouse está sobre o card */
}

.ban-text {
  width: 50%;
  text-align: left;
  padding-left: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
  color: white;
}

.bann-text {
  width: 50%;
  text-align: left;
  padding-left: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
  color: white;
}

.ban h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.bann h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.ban p {
  font-size: 18px;
  line-height: 1.5;
}

.bann p {
  font-size: 18px;
  line-height: 1.5;
}


/* MISSÃO VISÃO VALORES */

#sobre-nos{
  background-image: url(./img/beaty.jpg);
  background-size: cover;
}

.titulo-sobreNos {
  text-align: center;
  font-size: 3.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  color: white;
}

#sobre-nos .container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 6rem;
}

#sobre-nos .container .card {
  width: 40%;
  margin-bottom: 20px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 19px 7px rgba(0,0,0,0.75);
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto; /* Adicionar isso */
  text-align: center; 
  transition: transform 0.3s, box-shadow 0.3s; /* Adiciona transição suave para transformação e sombra */ 
}

.card-imagem{
  width: 80%;
  height: 60%;
}

#sobre-nos .container .nossos-valores{
  text-align: start;
}

#sobre-nos .container .nossos-valores:hover {
  transform: scale(1.125); /* Aumenta o tamanho do card em 10% */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Aumenta a sombra quando o mouse está sobre o card */
}

#sobre-nos .container:hover .nossos-valores:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

#sobre-nos .container h2 {
  text-align: center;
  font-size: 24px;
  color: #000;
  margin-bottom: 30px;
}

#sobre-nos .container h3 {
  color: #000;
  margin-bottom: 20px;
}

#sobre-nos .container p {
  color: #001d3d;
  line-height: 1.6;
  margin-bottom: 20px;
}

#sobre-nos .container ul {
  margin-bottom: 20px;
}

#sobre-nos .container li {
  color: #001d3d;
  line-height: 1.6;
}

#sobre-nos .container .form-group {
  margin-bottom: 20px;
  width: 100%;
}

#sobre-nos .container label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

#sobre-nos .container input[type="text"],
#sobre-nos .container input[type="email"],
#sobre-nos .container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 100%;
}

#sobre-nos .container button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#sobre-nos .container button[type="submit"]:hover {
  background-color: #0056b3;
}

/* FOOTER */

.footer {
  background-color: black;
  color: #fff;
  display: flex;
  font-size: 15px;
  margin-top: auto; /* Empurra o footer para o final da página */
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

.login {
  height: 125vh;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  height: 300px;
  background-color: #fdfbdd7a;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}


.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid black;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid black;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border: 2px solid black;
  background-color: #e3b062;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #e3b062;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}


#seila {
  position: absolute;
  top: 50%; /* Colocando o topo do #seila na metade da altura da .janela */
  left: 50%; /* Colocando a esquerda do #seila na metade da largura da .janela */
  transform: translate(-50%, -50%); /* Movendo o #seila para trás, metade de sua própria largura e altura */
}
#seila .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0 6rem;
    gap: 2rem;
}

#seila .container .card {
  flex: 0 0 calc(33.33% - 20px); /* Define a largura dos cartões para ocupar 1/3 do espaço, subtraindo o espaço entre eles */
  margin-bottom: 20px;
  height: 200px;
  background-color: #fff;
  box-shadow: 0px 0px 19px 7px rgba(0,0,0,0.75);
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  text-align: center;
}

.card-link {
  text-decoration: none; /* Remover decoração de link */
}

.cardd {
  /* Estilos padrão do card */
  width: 268px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s; /* Adiciona transição suave para transformação e sombra */
}

.cardd:hover {
  transform: scale(1.2); /* Aumenta o tamanho do card em 10% */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Aumenta a sombra quando o mouse está sobre o card */
}

#seila .container:hover .cardd:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

.card1 {
  background-image: url(./img/harri\ potti.jpg);
  background-size: cover;
}

.card2 {
  background-image: url(../css/img/0fa75b8ca4d1589825c39d6822f87aef.jpg);
  background-size: cover;
}

.card3 {
  background-image: url(../css/img/1200712ebe59c8e4e7bccee83d411c81.jpg);
  background-size: cover;
}

.conteudo{
  background-image: url(../css/img/1309409.jpg);
  background-size: cover;
  /* Estilos padrão do card */
  width: 600px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s; /* Adiciona transição suave para transformação e sombra */
}

.conteudo:hover {
  transform: scale(1.2); /* Aumenta o tamanho do card em 10% */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Aumenta a sombra quando o mouse está sobre o card */
}

.btnn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#21212100, #21212100),  linear-gradient(137.48deg, #e3b062 10%, #49381f 45%, #353435 67%, #1b1b1b 93%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-size: 15px;
  letter-spacing: 5px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
}


.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btnn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btnn:hover {
  transform: scale(1.1)
}

.btnn:active {
  border: double 4px #FE53BB;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btnn:active .circle {
  background: #FE53BB;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

