body {
  font-family: Arial, sans-serif;
  background-image: url(./img/oi.jpg);
}

.quiz-container {
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.567);
  margin-top: 8vh;
}

.question {
  font-size: 1.3em;
  color: white;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.options {
  list-style: none;
  padding: 0;
}

.options li {
  margin: 10px 0;
}

.options button {
  padding: 10px 20px;
  font-size: 1em;
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.correct {
  background-color: #4caf50;
  color: white;
}

.incorrect {
  background-color: #f44336;
  color: white;
}

.score {
  font-size: 1.5em;
  margin-top: 20px;
  color: white;
}


.quiz-containee {
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.697);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 600px;
  height: 550px;
}

.quiz-containe{
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.697);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 600px;
  height: 520px;
  margin-top: 8vh;
}

.next-button {
  background-color: #cdab7770;
  color: white;
  padding: 12px 24px;
  /* Reduzindo o padding para diminuir o tamanho do botão */
  border: 2px solid #e3b062;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
  margin: 20px auto 0;
  width: calc(100% - 20px);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.83);
}


.answer-button {
  background-color: #cdab7770;
  color: white;
padding: 10px 20px;
  /* Reduzindo o padding para diminuir o tamanho dos botões */
  border: #e3b062 solid 2px;
  border-radius: 8px;
  /* Reduzindo o raio do border-radius para arredondar menos os cantos */
cursor: pointer;
  font-size: 16px;
  /* Reduzindo o tamanho da fonte */
  font-weight: bold;
  margin-bottom: 10px;
  transition: background-color 0.3s;
  width: calc(50% - 5px);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.83);
}

.answer-group {
  text-align: center;
  /* Centralizando os botões */
}

.answer-button:hover{
  background-color: #e3b062;
}